<%= form_with model: list do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @list.errors.full_messages_for(:title).each do |message| %>
      <%= message %>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>